/* -----------------------------------------
   MOVIES PAGE ONLY
------------------------------------------*/

h1 {
    margin-bottom: 20px;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input,
select {
    padding: 8px;
    border-radius: 6px;
    border: none;
}

.movie-list {
    margin-top: 20px;
}

.movie-item {
    background: #222;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}