{% extends "admin_base.html" %}

{% block content %}
<h1>Edit Person</h1>

<form method="post">
    <input type="text" name="search" placeholder="Search person...">
    <button type="submit">Search</button>
</form>

<table>
  <thead>
    <tr><th>ID</th><th>Name</th><th>Edit</th></tr>
  </thead>
  <tbody>
    {% for p in people %}
    <tr>
      <td>{{ p.peopleId }}</td>
      <td>{{ p.primaryName }}</td>
      <td><a href="{{ url_for('admin.person_edit', people_id=p.peopleId) }}">Edit</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}