<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Celebrities</title>
    <link rel="stylesheet" href="/static/css/celebrities.css" />
</head>

<body>
    <nav class="site-nav">

            <li><a href="/">Home</a></li>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/series">Series</a></li>
            <li><a href="/celebrities">Celebrities</a></li>
            <li><a href="/quiz">Quiz</a></li>
            <li><a href="/recommend">Recommend</a></li>
            <li><a href="/about">About</a></li>

    </nav>

    <h1>Celebrities</h1>
    <p>Information about actors/crew from the dataset.</p>



</body>

</html>