<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/static/css/series.css" />
  <title>Breaking Bad - 1. Bölüm</title>
</head>

<body>
  <nav class="site-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/movies">Movies</a></li>
    <li><a href="/series">Series</a></li>
    <li><a href="/celebrities">Celebrities</a></li>
    <li><a href="/quiz">Quiz</a></li>
    <li><a href="/recommend">Recommend</a></li>
    <li><a href="/about">About</a></li>
  </nav>


  <section class="episode-detail">
    <h1>Breaking Bad – 1. Sezon, 1. Bölüm</h1>


    <div class="episode-info">
      <p><strong>Bölüm Adı:</strong> Pilot</p>
      <p><strong>Süre:</strong> 58 dakika</p>
      <p><strong>Yayın Tarihi:</strong> 20 Ocak 2008</p>
      <p><strong>Kısa Özet:</strong> Walter White, maddi sıkıntılarla boğuşurken kanser olduğunu öğrenir. Eski öğrencisi
        Jesse Pinkman’la birlikte yasa dışı bir işe girişmeye karar verir.</p>
    </div>

    <div class="episode-buttons">
      <a href="/templates/serie.html" class="back-button">Back</a>

    </div>
  </section>
</body>

</html>