<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8" />

  <link rel="stylesheet" href="/static/css/series.css" />
  <title>Dizi Detayı</title>
</head>

<body>

  <nav class="site-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/movies">Movies</a></li>
    <li><a href="/series">Series</a></li>
    <li><a href="/celebrities">Celebrities</a></li>
    <li><a href="/quiz">Quiz</a></li>
    <li><a href="/recommend">Recommend</a></li>
    <li><a href="/about">About</a></li>
  </nav>


  <header class="series-header">
    <h1>Breaking Bad</h1>
    <p class="series-meta">Tür: Drama / Suç • Sezon: 1</p>
    <p class="series-desc">
      Liseden kimya öğretmeni Walter White, ailesinin geleceği için...
    </p>
  </header>


  <section class="episodes">
    <h2>Bölümler</h2>
    <ul class="episode-list">
      <li class="episode-item">
        <span class="ep-title">1. Bölüm – Pilot</span>
        <span class="ep-duration">58 dk</span>
        <a class="ep-link" href="/templates/episode.html">Detail</a>
      </li>
      <li class="episode-item">
        <span class="ep-title">2. Bölüm – Cat’s in the Bag...</span>
        <span class="ep-duration">47 dk</span>
        <a class="ep-link" href="/templates/episode.html">Detail</a>
      </li>
      <li class="episode-item">
        <span class="ep-title">3. Bölüm – ...And the Bag’s in the River</span>
        <span class="ep-duration">46 dk</span>
        <a class="ep-link" href="/templates/episode.html">Detail</a>

        <div class="back-to-series">
          <a href="/templates/series.html" class="back-button">Back</a>
        </div>
</body>

</html>