<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/movies.css" />
    <title>Series</title>
</head>
<body>
    <h1>Series</h1>
    <div class="controls">
        <select id="genre">
            <option value="">Tür seç</option>
            <option value="action">Aksiyon</option>
            <option value="drama">Drama</option>
            <option value="comedy">Komedi</option>
            <option value="sci-fi">Bilim Kurgu</option>
        </select>

        <input type="text" placeholder="Dizi ara...">
    </div>

    
</body>
</html>